*{
	margin:0;
	padding:0;
}
ul li{
	list-style: none;
}
a{
	text-decoration:none;
}
/*轮播图*/
.box{
	width:1200px;
	height:535px;
	overflow: hidden;
	margin:0px auto;
	position: relative;
}
.lsq_box{
	width:8400px;
	position: relative;
	top:0;
	left:0;
}
.lsq_pic li{
	width:1200px;
	float: left;
}
.lsq_pic img{
	width:1200px;
	height:535px;
}
/*页*/
.lsq_page{
	display: inline-block;
	margin:20px 495px;
	position: absolute;
	left:0;
	bottom: 0;
}
.lsq_page li{
	float: left;
	width:15px;
	height: 15px;
	margin:0 10px;
	border-radius: 50%;
	background: #062d45;
	display: inline-block;
}
.lsq_page .active{
	background: #2df9cb;
}
/*左右按钮*/
.box span{
	display: block;
	height: 100px;
	color: #fff;
	font-size: 80px;
	line-height: 100px;
	text-align: center;
	cursor:pointer;
	position: absolute;
	top:50%;
	margin-top: -50px;
	display: none;
}
.box .prev{
	left:0;
}
.box .next{
	right:0;
}
.box:hover span{
	display: block;

}
.box span:hover{
	color:#2df9cb;
}
/*优惠充值*/
#you{
	margin:40px auto;
	width:1200px;
	height: 40px;
	position: relative;
}
.y_left{
	padding-left:194px;
	/* width:580px; */
	width: 386px;
	height:40px;
	color:white;
	background: #b81b22;
	position: relative;
}
.sjx1{
	width:0;height:0;
	border-width:20px 20px 20px  20px;
	border-color:#b81b22  transparent transparent #b81b22 ;
    border-style: solid ;
    margin:0 auto; 
    position:absolute;
    top:0;
    left:580px;
}
.sjx2{
	width:0;height:0;
	border-width:20px 20px 20px  20px;
	border-color:transparent white white transparent ;
    border-style: solid ;
    margin:0 auto; 
    position:absolute;
    top:0;
    left:580px;
}
.y_right{
	padding-left:194px;
	width:386px;
	height:40px;
	background:white;
	color:#b81b22;
	position: absolute;
	top:0px;
	right:0;
}
.hui{
	font-size:20px;
	line-height:40px;
	margin-right:100px;
}
.li{
	display: block;
	width:104px;
	height:30px;
	border:2px solid white;
	border-radius: 10px;
	line-height: 30px; 
	font-size: 20px;
	color:white;
	text-align: center;
	position: absolute;
	top:3px;
	right:58px;
}
.y_right .li{
	border-color:#b81b22;
	color:#b81b22;
}
/*限时秒杀*/
h2{
	width:1200px;
	margin:0 auto;
	line-height: 74px;
	font-size: 20px;
	color:#9a9ab3;
	text-align: center;
}
#newpro{
	width:1220px;
	overflow: hidden;
	margin:20px auto 30px;
}
#newpro li{
	width:285px;
	float:left;
	margin-left: 20px;
	position: relative;
}
#newpro li img{
	width:285px;
	height:374px;
	display: block;
}
#newpro li p{
	width:285px;
	height:44px;
	background: rgba(245,246,248,0.8);
	line-height: 44px;
	text-align: center;
	font-size: 24px;
	position: absolute;
	left:0;
	top:330px;
}
#newpro li div{
	width:285px;
	color:#666;
	margin-top: 14px;
	line-height:40px;
	text-align: center;
}
#newpro li span{
	width:285px;
	line-height: 20px;
	color:#c15150;
	display: block;
	text-align: center;
	font-size: 16px;
	
}

/*新品推荐*/
.tui{
	width:1226px;
	overflow: hidden;
	margin:20px auto 30px;
}
.tui li{
	width:272px;
	border:1px solid #bbb;
	float: left;
	margin-left: 26px;
	margin-bottom: 20px;
	position: relative;
}
.tui img{
	display: block;
	width:272px;
	height:300px;
}
.tui div{
	padding-left:20px;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
}
.tui p{
	padding-left: 20px;
	color:#666;
	font-size: 14px;
	line-height:20px;
}
.tui span{
	color:#c3211e;
	padding-left: 20px;
	line-height: 24px;
}
.tui a{
	width:88px;
	height:24px;
	display: block;
	background: #c3211e;
	color: white;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	position:absolute;
	bottom:10px;
	right:20px;
}
/*活动专区*/
.qu{
	width:1252px;
	margin:20px auto 30px;
	overflow: hidden;
}
.qu div{
	float:left;
	border:1px solid #ccc;
	margin-left: 20px;
}
.qu1{
	width:590px;
	border:1px solid #ccc;
}
.qu1 img{
	width:590px;
	height: 440px;
}
.qu p{
	padding-left: 14px;
	line-height: 70px;
	position: relative;
}
.qu span{
	color:#c3211e;
	position: absolute;
	right:14px;
} 
.qu2 li{
	border:1px solid #ccc;
}
.qu2 li:nth-child(2){
	margin-top:9px;
}
/*返回顶部*/
#fanhui{
	background: white;
	z-index:999;
	width:74px;
	position: fixed;
	bottom:40px;
	right:20px;
}
#fanhui li{
	cursor: pointer;
	width:74px;
	border:1px solid #c3211e;
}
#fanhui li img{
	display: block;
	margin:14px auto 0; 
}
#fanhui li span{
	font-size: 16px;
	width:74px;
	line-height: 32px;
	text-align: center;
	display: block;
	color:#666;
}
#fanhui li div{
	width:74px;
	text-align: center;
	margin-top: 14px;
	color:white;
}


